<br />
<br />

<div class="container  d-flex position-fixed justify-content-center" style="z-index:1;">
        <a href="#kahvaltilik">
        <button class="btn btn-outline-secondary text-black">Bas</button>
        </a>
        <a href="#kahvaltiliklar1">
            <button class="btn btn-outline-secondary text-black">Bas</button>
        </a>
    </div>
<div id="kahvaltiliklar1">

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="col">
        <hr />
        <h3>Kahvaltılıklar</h3>
        <br />
    <div class="row">
        
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ürün Adı</h5>
                <p class="card-text">Ürün Bilgisi</p>
            </div>
        </div>
    </div>
    </div>
</div>
    <section id="kahvaltiliklar">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
        <div class="col">
        <hr />

            <h3>Kahvaltılıklar</h3>
            <br />
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ürün Adı</h5>
                        <p class="card-text">Ürün Bilgisi</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="kahvaltiliklar">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="col">
        <hr />

        <h3>Kahvaltılıklar</h3>
        <br />
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ürün Adı</h5>
                <p class="card-text">Ürün Bilgisi</p>
            </div>
        </div>
    </div>
    </div>
</section>
<section id="kahvaltilik">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="col">
        <hr />

        <h3>Kahvaltılıklar</h3>
        <br />
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ürün Adı</h5>
                <p class="card-text">Ürün Bilgisi</p>
            </div>
        </div>
    </div>
    </div>
</section>
<section id="kahvaltiliklar">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="col">
        <hr />

        <h3>Kahvaltılıklar</h3>
        <br />
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ürün Adı</h5>
                <p class="card-text">Ürün Bilgisi</p>
            </div>
        </div>
    </div>
    </div>
</section>
<hr />